form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

.appname {
    text-align: center;
    background-color: #84ad52;
    margin-bottom: 20px;
}

.navbar {
    background-color: #84ad52;
}

div.dropdown-menu {
    background-color: #84ad52;
}

form.example {
    width: 80%;
}

#searchbar {
    background-color: #84ad52;
    width: 10%
}

.body {
    margin-bottom: 100px;
}

h1 {
    font-size: 5vh;
}

.foodPicture {
    height: 250px;
}

.todayhead {
    color: #84ad52;
}

.restaurantButton {
    background-color: #84ad52;
    color: white;
}